@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

@import "tailwindcss";

@plugin "tailwindcss-animated";

@theme {
  --font-jersey10: "Jersey 10", "sans-serif";
  --font-funnel: "Funnel Sans", "sans-serif";
}

body {
  background-color: black;
  color: white;
  font-family: "Funnel Sans"
}

/* TODO: Make sure colorscheme matches */

img {
  image-rendering: pixelated;
}

.square-ul {
  list-style-type: square;
}

.stroked {
  -webkit-text-stroke: 1.5rem black;
  paint-order: stroke markers fill;
}

.stroked-less {
  -webkit-text-stroke: 1rem black;
  paint-order: stroke markers fill;
}

.stroked-light {
  -webkit-text-stroke: 0.3rem black;
  paint-order: stroke markers fill;
}

.text-hoverable {
  cursor: pointer;
  padding: 10px;
  transition: color 0 ease, outline 0 ease;
}

.text-hoverable:hover {
  color: #3D7FF3;
  outline: 1px solid #3D7FF3;
  border-radius: 0.75rem;
  padding: 10px;
}

.text-hoverable:active {
  color: #1A2E5A;
  outline: 1px solid #1A2E5A;
  border-radius: 0.75rem;
  padding: 10px;
}

.clear-stroke {
  --webkit-text-stroke: 0;
}
