@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Tiny5&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;

  /* Frequent things like text should be white */
  color: white;
}

/* TODO: Make sure colorscheme matches */

h1,
h2 {
  font-family: "Tiny5", serif;
  paint-order: stroke markers fill;
}

h1 {
  font-weight: 800;
  font-size: 6rem;

  -webkit-text-stroke: 2rem rgba(0, 0, 0, 1);
}

/* navigating to this using href works, but ends up offscreen because navbar is fixed (not considered in doc pos) */
/* if we pad the top, it increase height so we end up where we want, but also prevents height we want */
/* to remedy, use neg. margin opposite to padding we added */
/* this keeps offset without altering height */
/* can't just add a margin because that'll add actual space above, and we don't want that */

/* NOTE: this explanation is bad; come back and re-analyze later maybe */
:target {
  padding-top: 70px;
  margin-top: -70px;
}

h2 {
  font-weight: 800;
  font-size: 3.75rem;

  letter-spacing: -0.3rem;

  -webkit-text-stroke: 1.5rem rgba(0, 0, 0, 1);
}

h3,
h4,
h5 {
  font-family: "Funnel Sans", sans-serif;
}

h3 {
  font-size: 1.75rem;
  font-weight: 800;
}


h4 {
  font-size: 1.5rem;
  font-family: "Funnel Sans", sans-serif;
  font-weight: 800;
}

h5 {
  font-size: 1.25rem;
  font-family: "Funnel Sans", sans-serif;
  font-weight: 600;
}

img {
  image-rendering: pixelated;
}

.square-ul {
  list-style-type: square;
}

.stroked {
  -webkit-text-stroke: 1.5rem #0d1931; 
  paint-order: stroke markers fill;
}

.stroked-less {
  -webkit-text-stroke: 1rem #0d1931; 
  paint-order: stroke markers fill;
}

.stroked-light {
  -webkit-text-stroke: 0.25rem black;
  paint-order: stroke markers fill;
}

.brighter-stroke {
  -webkit-text-stroke: 0.3rem rgba(30, 30, 30, 1);
  paint-order: stroke markers fill;
}

.text-hoverable {
  cursor: pointer;
  padding: 10px;
  transition: color 0 ease, outline 0 ease;
}

.text-hoverable:hover {
  color: #3D7FF3;
  outline: 1px solid #3D7FF3;
  border-radius: 0.75rem;
  padding: 10px;
}

.text-hoverable:active {
  color: #1A2E5A;
  outline: 1px solid #1A2E5A;
  border-radius: 0.75rem;
  padding: 10px;
}
